In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

C:\Anaconda\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Anaconda\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Anaconda\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\Anaconda\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Anaconda\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Anaconda\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Anaconda\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Anaconda\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Anaconda\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
C:\Anaconda\lib\site-packages\sklearn\decomposition\online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps
C:\Anaconda\lib\site-packages\sklearn\ensemble\gradient_boosting.py:32: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages
C:\Anaconda\lib\site-packages\sklearn\ensemble\gradient_boosting.py:32: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages

In [2]:
dataset=pd.read_csv("car_data.csv")

In [3]:
dataset

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,1229,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN
1230,1230,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN
1231,1231,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN
1232,1232,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN
1233,1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,Unnamed: 0,Year,Kilometers_Driven,Seats,Name_Audi A3 35 TDI Premium Plus,Name_Audi A4 2.0 TDI,Name_Audi A4 2.0 TDI 177 Bhp Technology Edition,Name_Audi A4 2.0 TDI Multitronic,Name_Audi A4 2.0 TDI Premium Sport Limited Edition,Name_Audi A4 3.0 TDI Quattro Premium,...,New_Price_9.12 Lakh,New_Price_9.26 Lakh,New_Price_9.27 Lakh,New_Price_9.4 Lakh,New_Price_9.42 Lakh,New_Price_9.45 Lakh,New_Price_9.51 Lakh,New_Price_9.54 Lakh,New_Price_9.94 Lakh,New_Price_92.01 Lakh
0,0,2014,40929,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2013,54493,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2017,34000,7.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2012,139000,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,2014,29000,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,1229,2011,89411,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1230,1230,2015,59000,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1231,1231,2012,28000,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1232,1232,2013,52262,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1233,1233,2014,72443,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
dataset.columns

Index(['Unnamed: 0', 'Year', 'Kilometers_Driven', 'Seats',
       'Name_Audi A3 35 TDI Premium Plus', 'Name_Audi A4 2.0 TDI',
       'Name_Audi A4 2.0 TDI 177 Bhp Technology Edition',
       'Name_Audi A4 2.0 TDI Multitronic',
       'Name_Audi A4 2.0 TDI Premium Sport Limited Edition',
       'Name_Audi A4 3.0 TDI Quattro Premium',
       ...
       'New_Price_9.12 Lakh', 'New_Price_9.26 Lakh', 'New_Price_9.27 Lakh',
       'New_Price_9.4 Lakh', 'New_Price_9.42 Lakh', 'New_Price_9.45 Lakh',
       'New_Price_9.51 Lakh', 'New_Price_9.54 Lakh', 'New_Price_9.94 Lakh',
       'New_Price_92.01 Lakh'],
      dtype='object', length=1600)

In [7]:
independent=dataset[['Year', 'Kilometers_Driven', 'Seats']]

In [8]:
independent

      Year  Kilometers_Driven  Seats
0     2014              40929    4.0
1     2013              54493    5.0
2     2017              34000    7.0
3     2012             139000    5.0
4     2014              29000    5.0
...    ...                ...    ...
1229  2011              89411    5.0
1230  2015              59000    5.0
1231  2012              28000    5.0
1232  2013              52262    5.0
1233  2014              72443    5.0

[1234 rows x 3 columns]

In [9]:
dependent=dataset[['Name_Audi A3 35 TDI Premium Plus', 'Name_Audi A4 2.0 TDI',
       'Name_Audi A4 2.0 TDI 177 Bhp Technology Edition',
       'Name_Audi A4 2.0 TDI Multitronic',
       'Name_Audi A4 2.0 TDI Premium Sport Limited Edition',
       'Name_Audi A4 3.0 TDI Quattro Premium',
       'New_Price_9.12 Lakh', 'New_Price_9.26 Lakh', 'New_Price_9.27 Lakh',
       'New_Price_9.4 Lakh', 'New_Price_9.42 Lakh', 'New_Price_9.45 Lakh',
       'New_Price_9.51 Lakh', 'New_Price_9.54 Lakh', 'New_Price_9.94 Lakh',
       'New_Price_92.01 Lakh']]

In [10]:
dependent

,Name_Audi A3 35 TDI Premium Plus,Name_Audi A4 2.0 TDI,Name_Audi A4 2.0 TDI 177 Bhp Technology Edition,Name_Audi A4 2.0 TDI Multitronic,Name_Audi A4 2.0 TDI Premium Sport Limited Edition,Name_Audi A4 3.0 TDI Quattro Premium,New_Price_9.12 Lakh,New_Price_9.26 Lakh,New_Price_9.27 Lakh,New_Price_9.4 Lakh,New_Price_9.42 Lakh,New_Price_9.45 Lakh,New_Price_9.51 Lakh,New_Price_9.54 Lakh,New_Price_9.94 Lakh,New_Price_92.01 Lakh
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1230,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1231,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1232,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1233,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler() 
independent = sc.fit_transform(independent)

In [12]:
svr_model = SVR(kernel="rbf", C=1000) 
svr_model.fit(independent, dependent.values.ravel())

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [13]:
print(dataset.isnull().sum())

Unnamed: 0                           0
Year                                 0
Kilometers_Driven                    0
Seats                               11
Name_Audi A3 35 TDI Premium Plus     0
                                    ..
New_Price_9.45 Lakh                  0
New_Price_9.51 Lakh                  0
New_Price_9.54 Lakh                  0
New_Price_9.94 Lakh                  0
New_Price_92.01 Lakh                 0
Length: 1600, dtype: int64

In [21]:
year_input = float(input("Year: ")) 
kilometers_driven_input = float(input("Kilometers Driven: ")) 
seats_input = float(input("Seats: "))

Year: 2014
Kilometers Driven: 40929
Seats: 4.0

result